<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.5" />
    </php>

<!--    <logging>-->
<!--        <log type="coverage-clover" target="clover-report.xml"/>-->
<!--        <log type="junit" target="junit-report.xml"/>-->
<!--    </logging>-->

    <logging>
        <log type="coverage-html"   target="tests/coverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-php"    target="tests/logs/coverage.serialized"/>
        <log type="coverage-clover" target="tests/logs/clover.xml"/>
        <log type="coverage-crap4j" target="tests/logs/crap4j.xml"/>
        <log type="coverage-clover" target="tests/logs/clover-report.xml"/>
        <log type="junit" target="tests/logs/junit-report.xml"/>
        <log type="junit" target="tests/logs/junit.xml" />
    </logging>


    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
