{#<div class="card mb-3">#}
{#    <div class="card-header">#}
{#        <i class="fa fa-area-chart"></i> Area Chart Example</div>#}
{#    <div class="card-body">#}
{#        <canvas id="myAreaChart" width="100%" height="30"></canvas>#}
{#    </div>#}
{#    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
{#</div>#}

<div class="row">
    <div class="col-lg-8">
        <!-- Example Bar Chart Card--> <!-- Bad element -->
{#        {% include("dashboard/components/_bar-chart-card.html.twig") %}#}

        <!-- Card Columns Example Social Feed-->

{#            {% include("dashboard/components/_social-card.html.twig") %}#}


        <!-- /Card Columns-->
    </div>
    <div class="col-lg-4">

        <!-- Example Pie Chart Card--> <!-- Bad element -->
{#            {% include("dashboard/components/_pie-chart-card.html.twig") %}#}

        <!-- Example Notifications Card-->
{#            {% include("dashboard/components/_notifications-card.html.twig") %}#}

    </div>
</div>