{% extends 'base.html.twig' %}

{% block title %}Not found 404 error page{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/error.css') }}">
    <div class="notfound-page">
        <div class="wrapper">
            <h1>403!</h1>
            <h5>Sorry, Page Forbidden</h5>
            <p style="font-size: medium">Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br/>
                Please go back to the previous page to continue browsing.</p>
            <div class="buttons">
                <a href="#"><i class="fas fa-home"></i> Go to Home</a>
                <a href="#"><i class="fas fa-envelope"></i> Contact Us</a>
            </div>
            <div class="search-box">
                <input type="text" name="search" placeholder="Search" class="rounded-pill">
                <button type="search" class="reduce"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}